/* Global styles */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Remove underline from anchor links */
a{
  text-decoration: none;
}

/* Button styles */
button {
  background-color: purple;
  color: white;
  border-radius: 5px;
}

/* Button hover effect */
button:hover {
  opacity: 0.5;
  border-color: rgb(82, 163, 190);
  cursor: pointer;
  border-width: 2px;
}

/* Header styles */
.heading {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

/* Home screen styles */
.home {
  text-align: center;
  margin: auto;
  width: 30%;
}

/* Quiz screen styles */
.quiz {
  text-align: left;
  margin: auto;
  width: 40%;
  display: none;
}

/* Highscore screen styles */
.highscore_screen {
  text-align: left;
  font-weight: bold;
  margin: auto;
  width: 40%;
  display: none;
}

/* Highscore list styles */
ol {
  background-color: plum;
}

/* Initials input styles */
.initials {
  display: flex;
  text-align: left;
  align-items: center;
 }

 /* Input box hover effect */
 #initialsInput:hover {
  border-width: 2px;
  border-color: rgb(82, 163, 190);
}

/* Final score screen styles */
.final_score {
  text-align: left;
  margin: auto;
  width: 40%;
  display: none;
}

/* Answer button styles */
.answer_btn {
  display: block;
  margin: 2px;
}

/* Answer result styles */
.answer_results {
  color: #B0B0B0;
  font-style: italic;
  margin-top: 10px;
  border-top: 3px solid;
  text-align: left;
  margin: auto;
  width: 40%;
  display: none;
}

